section.area-select(ng-controller='AreaSelect')
  select.areas(multiple,ng-change='change()', ng-model='currentArea', ng-options='a.name group by a.county for a in areas | filter:search')

section.area-forecast(ng-controller='AreaForecast')
  .control
    i.icon-repeat(ng-click="resetAll()")
  article.forecast(ng-repeat='area in forecasts.current',ng-class='area.loading')
    .row-fluid
      .span10
        {{area.county}} {{area.name}}
      .span2.actions
        i.icon-info-sign(title='{{ area.forecasts[0] }}')
        i(ng-class="isStarred(area.zip)",ng-click="toggleStarred(area.zip)")
        i.icon-refresh(ng-click="refresh(area)")
        i.icon-remove-sign(ng-click="remove(area)")
    .clear(style="clear: both")
    .forecasts.row-fluid
      span.forecast-date(ng-repeat='f in getDateCols(area)',ng-class='"forecast-date-"+f.cols')
          {{f.date}}
          
      .clear(style="clear: both")
      .forecast-slot(ng-repeat='f in area.forecasts',ng-class='getDayOrNight(f.time)')
          .clear
            {{getTime(f.time)}}
          span.icon-cwb-weather(ng-style="getWeatherStyle(f.time, f.forecast)",title='{{f.forecast.Wx}}')
          div.clear.temp
            {{f.forecast.Temperature}}
          div.clear.pop
            {{f.forecast.PoP}}
          i(class='icon-{{windIcon(f.forecast.WindLevel)}} icon-wind icon-wind-{{f.forecast.WindDir}}',title='{{f.forecast.WindDir}}/{{f.forecast.WindLevel}}',ng-style="getWindStyle(f.forecast.WindLevel)")
