section.area-select(ng-controller='AreaSelect').hidden-phone
  select.areas(multiple,ng-model='currentArea',ng-options='a.name group by a.county for a in areas | filter:search')

section.area-forecast(ng-controller='AreaForecast')
  .control
    i.icon-repeat(ng-click="resetAll()")
  article.forecast(ng-repeat='area in forecasts.current',ng-class='{loading: area.loading, geocurrent: area.geoCurrent}')
    .row-fluid
      .span10
        {{area.county}} {{area.name}}
      .span2.actions
        i.icon-info-sign(title='{{ area.forecasts[0] }}')
        i(ng-class="isStarred(area.zip)",ng-click="toggleStarred(area.zip)")
        i.icon-refresh(ng-click="refresh(area)")
        i.icon-remove-sign(ng-click="remove(area)")
    .clear(style="clear: both")
    .forecasts.row-fluid
      .forecast-date(ng-repeat='(f_day,forecasts) in getForecastsByDate(area)',ng-class='{"forecast-date-sep": $index > 0}')
        .date {{f_day}}
        .forecast-slot(ng-repeat='f in forecasts',ng-class='getDayOrNight(f.time)')
          .clear
            {{getTime(f.time)}}
          span.icon-cwb-weather(ng-style="getWeatherStyle(f.time, f.forecast)",title='{{f.forecast.Wx}}')
          div.clear.temp
            {{f.forecast.Temperature}}
          div.clear.pop
            {{f.forecast.PoP}}
          i(class='icon-{{windIcon(f.forecast.WindLevel)}} icon-wind icon-wind-{{f.forecast.WindDir}}',title='{{f.forecast.WindDir}}/{{f.forecast.WindLevel}}',ng-style="getWindStyle(f.forecast.WindLevel)")
