ul.nav
  li(ng-class="getClass('/view1')")
    a(ng-href='/forecasts') Forecasts
form.navbar-search.pull-left#navSearch
  input.search-query(type='search',ng-model='$parent.search',placeholder='Search')
