ul.nav
  li(ng-class="getClass('/forecasts')")
    a(ng-href='/forecasts') Forecasts
  li(ng-class="getClass('/typhoon')")
    a(ng-href='/typhoon') Typhoon
form.navbar-search.pull-left#navSearch
  input.search-query(type='search',ng-model='$parent.search',placeholder='Search').hide-phone
  select.visible-phone(ng-model='$parent.currentArea', ng-options='a.name group by a.county for a in areas')

ul.nav.pull-right.hide-phone
  li
    a(href='http://github.com/clkao/opencwb') source
