section.typhoon(ng-controller='TyphoonCtrl')
    h2 issued {{time}}Z
    div(ng-repeat="marker in myMarkers",ui-map-marker="myMarkers[$index]")
    div(ng-repeat="circle in myCircles",ui-map-marker="myCircles[$index]")
    div(ng-repeat="path in myPaths",ui-map-marker="myPaths[$index]")
    div.map(ui-map="myMap",ui-options="mapOptions",ui-event="{'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }")

 
